@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('/fonts/SuisseIntl-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    font-family: 'SuisseIntl', sans-serif;
  }
  
  body {
    @apply bg-[#080808] text-[#f5f5f7];
    font-weight: 400;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
  }
}

